absl-py==0.7.1
alabaster==0.7.12
argh==0.26.2
astor==0.7.1
astroid==2.2.5
atomicwrites==1.3.0
attrs==19.1.0
autobahn==19.2.1
Automat==0.7.0
Babel==2.6.0
backcall==0.1.0
beautifulsoup4==4.8.0
bleach==3.1.0
bs4==0.0.1
build==1.0.2
cachetools==3.1.0
certifi==2019.3.9
cffi==1.12.3
chardet==3.0.4
Click==7.0
cloudpickle==0.8.1
cloudstorage==0.10.0
colorama==0.4.1
configparser==3.7.4
constantly==15.1.0
coverage==4.5.3
cycler==0.10.0
dash==0.39.0
dash-bootstrap-components==0.3.5
dash-core-components==0.44.0
dash-html-components==0.14.0
dash-player==0.0.1
dash-renderer==0.20.0
dash-table==3.6.0
dask==1.2.1
datalab==1.1.5
decorator==4.3.2
Django==2.1.7
django-bootstrap4==0.0.8
django-plotly-dash==0.9.8
django-storages==1.7.1
dnspython==1.16.0
docopt==0.6.2
docutils==0.14
dpd-components==0.1.0
eventlet==0.24.1
Flask==1.0.2
Flask-Compress==1.4.0
future==0.17.1
gast==0.2.2
gcsfs==0.2.1
gdata==2.0.18
gevent==1.4.0
google-api-core==1.14.2
google-api-python-client==1.7.10
google-auth==1.6.3
google-auth-httplib2==0.0.3
google-auth-oauthlib==0.3.0
google-cloud==0.34.0
google-cloud-bigquery==1.10.0
google-cloud-core==0.29.1
google-cloud-monitoring==0.31.1
google-cloud-pubsub==0.40.0
google-cloud-storage==1.15.0
google-cloud-videointelligence==1.9.0
google-resumable-media==0.3.2
googleapis-common-protos==1.6.0
greenlet==0.4.15
grip==4.5.2
grpc-google-iam-v1==0.11.4
grpcio==1.20.1
gunicorn==19.9.0
h5py==2.9.0
httplib2==0.13.0
hyperlink==18.0.0
idna==2.8
imageio==2.5.0
imagesize==1.1.0
incremental==17.5.0
inflection==0.3.1
ipykernel==5.1.1
ipython==7.7.0
ipython-genutils==0.2.0
isort==4.3.15
itsdangerous==1.1.0
jedi==0.14.1
Jinja2==2.10
joblib==0.13.2
jsonschema==3.0.1
jupyter-client==5.3.1
jupyter-core==4.4.0
Keras-Applications==1.0.7
Keras-Preprocessing==1.0.9
kiwisolver==1.1.0
lazy-object-proxy==1.3.1
livereload==2.6.0
locket==0.2.0
lxml==4.3.3
Markdown==3.0.1
MarkupSafe==1.1.1
matplotlib==3.1.1
mccabe==0.6.1
mock==2.0.0
monotonic==1.5
more-itertools==6.0.0
nbformat==4.4.0
networkx==2.3
numpy==1.16.2
oauth2client==4.1.3
oauthlib==3.0.1
packaging==19.0
pandas==0.24.2
pandas-datareader==0.7.0
pandas-gbq==0.9.0
pandas-profiling==1.4.0
parso==0.5.1
partd==0.3.10
path-and-address==2.0.1
pathtools==0.1.2
pbr==5.2.0
pickleshare==0.7.5
Pillow==6.1.0
pkginfo==1.5.0.1
plotly==3.7.0
pluggy==0.9.0
port-for==0.3.1
prompt-toolkit==2.0.9
protobuf==3.7.1
psutil==5.6.3
py==1.8.0
pyarrow==0.13.0
pyasn1==0.4.5
pyasn1-modules==0.2.4
pycparser==2.19
pydata-google-auth==0.1.3
Pygments==2.3.1
PyHamcrest==1.9.0
pylint==2.3.1
pyparsing==2.3.1
PyQt5==5.10
PyQt5-sip==4.19.18
PyQtWebEngine==5.13.0
pyrsistent==0.14.11
pytest==4.3.1
pytest-cov==2.6.1
pytest-django==3.4.8
python-coveralls==2.9.1
python-dateutil==2.8.0
python-magic==0.4.15
pytube==9.5.1
pytz==2018.9
PyWavelets==1.0.3
PyYAML==5.1
pyzmq==18.0.2
readme-renderer==24.0
requests==2.21.0
requests-oauthlib==1.2.0
requests-toolbelt==0.9.1
retrying==1.3.3
rsa==4.0
scikit-image==0.15.0
scikit-learn==0.21.3
scipy==1.3.0
seaborn==0.9.0
simplejson==3.16.0
sip==4.19.8
six==1.12.0
snowballstemmer==1.2.1
soupsieve==1.9.3
sphinx-autobuild==0.7.1
sphinxcontrib-websupport==1.1.0
tensorboard==1.13.1
tensorflow==1.15.2
tensorflow-estimator==1.13.0
termcolor==1.1.0
tf==1.0.0
toolz==0.9.0
tornado==6.0.1
tqdm==4.31.1
traitlets==4.3.2
twine==1.13.0
txaio==18.8.1
typed-ast==1.3.1
uritemplate==3.0.0
urllib3==1.24.1
utils==0.9.0
virtualenv==16.7.4
watchdog==0.9.0
wcwidth==0.1.7
webencodings==0.5.1
Werkzeug==0.14.1
wrapt==1.11.1
youtube-dl==2019.8.13
zope.interface==4.6.0
